.footer {
    position: relative;
}

.event-cards {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.card {
    border: 2px solid !important;
    border-color: gold !important;

}

.card p {
    font-size: 20px !important;
}