html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../assets/bg.jpeg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.text-top {
  font-size: 6vh;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Add a subtle text shadow */
}

.text-bottom {
  font-size: 6vh;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Add a subtle text shadow */
}

@media screen and (max-width: 870px) {
  .text-top {
    font-size: 4vh;
  }

  .text-bottom {
    font-size: 4vh;
  }
}
