.footer {
  position: relative;
}

.main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px;
  margin-bottom: 50px;
  width: 80%;
  row-gap: 20px;
  color: #ddd;
  background: rgba(58, 56, 176, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(58, 56, 176, 0.23);
  padding: 20px;
}

.banner img {
  width: 300px;
  margin: 15px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trailer {
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}

.trailer a {
  width: 200px;
  background: rgb(72, 72, 247);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.trailer a:hover {
  color: inherit;
}

.movies,
.audios,
.music {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  color: #ddd;
  margin: 15px;
}

.thumbnail {
  border-style: solid;
  border-color: #fec90b;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 870px) {
  iframe {
    width: 360px;
    height: 160px;
  }

  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner img {
    width: 250px;
  }

  .trailer {
    flex-direction: column;
    align-items: center;
  }
}
